#controlContainer {
  min-height: 610px;
}

.getStartedText{
  font-size: 4em;
}

.controlIcons {
  margin-top: 20%;
}

#submitTreatmentSection {
  height: 25%;
  width: 100%;
  background-color: rgba(89,90,131,.8)
}

.controlCards {
  min-height: 30vh;
  height: auto;
  width: 100%;
  position: absolute;
}

.fa {
  position: relative;
}

#start {
  margin-top: 25%;
}

#stop {
  width: 100%;
}

button {
  background-color: rgba(142,147,151,1);
  border: none;
}

.controlIcon {
  color: #68dbe2;
}

#geoGif {
  height: 25em;
  width: 25em;
  display: block;
  margin-left: 25px;
  margin-top: 25px;
}

 /*The Modal (background) */
#timerModal {
    display: none; /* Hidden by default*/
    position: fixed; /* Stay in place */
    z-index: 1200; /* Sit on top */
    left: 30%;
    top: 25%;
    width: 30em; /* Full width */
    height: 30em; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255,255,255,1); /* Black w/ opacity*/

}
