html {
  height:100%;
}

body {
  margin: 1em;
  min-height: 100vh;
  padding-bottom: 3.5em;
}

.carousel{
  margin: 5% 0 5% 0;
  height: 500px;
}

#carousel1{
  background-color: #94529c;
}

#carousel2{
  background-color: #8ad07a;
}

#carousel3{
  background-color: #ca7bb3;
}

#carousel4{
  background-color: #5ad2c9;
}

.headers {
  color: gray;
}

/* footer {
  position: absolute;
  left: 0 ;
  right: 0;
  bottom: 0;
  height: 3.5em;
} */
