#profilePic {
  height: 100%;
  width: 100%;
  margin: 10%;
}

.anchor{
  color: white;
}

#aboutMe {
  background-color: rgba(89,90,131,.8);
  color: rgba(224,224,224 ,1);
}

#moreInfo {
  margin-top: 5%;
}

#about1 {
  margin-left: 5%;
}

#about2 {
  margin-left: 5%;
}

#loves {
  font-size: 1.5em;
}

#location {
  font-size: 1.5em;
}
