#profilePic {
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

.anchor{
  color: white;
}

#aboutMe {
  height: auto;
  background-color: rgba(89,90,131,.8);
  padding: 0 30px 0 30px;
  color: rgba(224,224,224 ,1);
}

#about1 {
  margin-left: 20px;
}

#about2 {
  margin-left: 20px;
}

#loves {
  font-size: 1.5em;
}

#location {
  font-size: 1.5em;
}
