#splashContainer{
  width: auto;
}

p {
  font-size: 10vw;
}

#splash {
  color: #502b3f;
  margin-top: 5%;
  background-color: rgba(176,190,197 ,.3);
}

#logIn {
  float: right;
}

#signUp {
  float: left;
}
