/*#splash {
  height: 100%;
  width: auto;
}*/
#splashContainer{
  min-height: 500px;
  width: auto;
  /*margin: auto;*/
}

#splashImage {
  height: 400px;
  width: auto;
  position: relative;
}

#shineEye {
  top: 220px;
  right: 685px;
  position: absolute;
  z-index: 1;
  opacity: .9;
}

#splash {
  color: rgba(238,238,238 ,1);
}

#logIn {
  float: right;
}

#signUp {
  float: left;
}
